.home {
  position: relative;
  width: 100%;
  height: max-content;
}
.home .offer_banner {
  width: var(--desktop-width);
  height: 600px;
  background: url("../assets/Img/offer_banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}