.navbar {
  position: sticky;
  top: 10px;
  color: var(--color-white);
  margin: 10px auto;
  z-index: 1000;
}
.navbar_home {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px auto;
  z-index: 1000;
}
.navbar_animation {
  animation: navbar-color-animation auto both;
  animation-timeline: scroll(root);
  animation-range: 0 100px;
}
.navbar_background {
  position: absolute;
  opacity: 0;
  inset: 0;
  animation: navbar-animation auto both;
  animation-timeline: scroll(root);
  animation-range: 0 150px;
  z-index: -1;
}
@keyframes navbar-animation {
  to { opacity: 1; }
}
@keyframes navbar-color-animation {
  to { color: var(--color-dark); }
}