:root {
  --content-transition: 1s ease-in 0s 1 normal forwards;
}
.carousel {
  width: 100vw;
  height: 100vh;
}
.carousel .list .item {
  opacity: 0;
}
.carousel .list .item.item_active { opacity: 1; }
.carousel .list .item img {
  object-fit: cover;
  width: 150px;
  height: 220px;
}
.carousel .list .item.item_active .item_content > h2 { animation: content-h1 var(--content-transition); }
.carousel .list .item.item_active .item_content > p { animation: content-p var(--content-transition); }
.carousel .list .item.item_active .item_content > button { animation: content-button var(--content-transition); }
@keyframes content-h1 {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes content-p {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes content-button {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.carousel .carousel_arrows { 
  transform: translateX(-50%); 
  z-index: 200; 
}
/* * THUMBNAILS */
.thumbnails { width: max-content; }
.thumbnails .thumbnail_item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
}
.thumbnails .thumbnail_item img { object-fit: cover; }
.thumbnails .thumbnail_item { transition: box-shadow var(--content-transition); }
.thumbnails .thumbnail_item.active {
  box-shadow: 0 2px 6px var(--color-mint);
  transition: box-shadow var(--content-transition);
}
.carousel .list .item.item_active img { animation: showImage .5s linear 1 forwards; }
@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    border-radius: 0;
    bottom: 0;
    left: 0;
  }
}
.carousel .thumbnails .thumbnail_item.active img{
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
@keyframes showThumbnail { to { opacity: 1; } }